$paddingTop: 9px;
$paddingLR: 15px;

.header {
    height: 55px;
    font-size: 25px;
    background-color: rgb(255, 230, 0);
}

.menu {
    float: left;
    padding-left: $paddingLR;
    padding-top: 7px;
    &:hover {
        color: white !important;
    }
}

.appName {
    float: left;
    padding-left: 50px;
    padding-top: $paddingTop;
}

.user {
    float: right;
    padding-right: $paddingLR;
    padding-top: 7px;
}

.userName {
    float: right;
    padding-right: $paddingLR;
    padding-top: $paddingTop;
}