.comment {
  overflow-x: hidden;
  overflow-y: scroll;
  height:400px;
}

.add-comment {
  .add-comment-input {
    background-color: rgba(12, 12, 12, 0.041);
    height: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 20px;
    padding-inline-start: 10px;
    width: 450px;
  }
}

.comment-content {
  .comment-name {
    height: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 20px;
    width: 390px;
    padding-inline-start: 10px;
    }
  span {
    float: right;
    padding-top: 15px;
    padding-right: 15px;
    color: red;
  }
}

.modal-content {
  height: 600px;
}