$backgroundColor: rgba(0, 0, 0, 0.068);
$taskheight: 52px;

.fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    // transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.2s;
}

.fadeIn {
    float: left;
    background-color: $backgroundColor;
    opacity: 1;
    width: 275px;
    height: 623px;
    // transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
    .tasks {
        border: 1px solid $backgroundColor;
    }

    .newTask {
        display: inline-block;
        width: 230px;
        height: $taskheight;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 18px;
        span {
            padding-right: 10px;
        }
        .newTask-input {
            width: 192px;
            outline: none;
            border: none;
            padding-top: 5px;
            text-align: center;
            background-color: rgba(248, 246, 246, 0.219);
        }
    }



    .sidebar-content {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 571px;
        .task {
            @extend .newTask;
            &:hover {
                background-color: rgba(8, 8, 8, 0.418);
            }
        }
    }

    .delete {
        float: right;
        height: $taskheight;
        font-size: 20px;
        padding: 8px;
        color: red;
        &:hover {
            background-color: rgba(8, 8, 8, 0.418);
        }
    }
}

