body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(189, 187, 151, 0.486); }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

.header {
  height: 55px;
  font-size: 25px;
  background-color: #ffe600; }

.menu {
  float: left;
  padding-left: 15px;
  padding-top: 7px; }
  .menu:hover {
    color: white !important; }

.appName {
  float: left;
  padding-left: 50px;
  padding-top: 9px; }

.user {
  float: right;
  padding-right: 15px;
  padding-top: 7px; }

.userName {
  float: right;
  padding-right: 15px;
  padding-top: 9px; }

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0; }

.fadeIn {
  float: left;
  background-color: rgba(0, 0, 0, 0.068);
  opacity: 1;
  width: 275px;
  height: 623px; }
  .fadeIn .tasks {
    border: 1px solid rgba(0, 0, 0, 0.068); }
  .fadeIn .newTask, .fadeIn .sidebar-content .task {
    display: inline-block;
    width: 230px;
    height: 52px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px; }
    .fadeIn .newTask span, .fadeIn .sidebar-content .task span {
      padding-right: 10px; }
    .fadeIn .newTask .newTask-input, .fadeIn .sidebar-content .task .newTask-input {
      width: 192px;
      outline: none;
      border: none;
      padding-top: 5px;
      text-align: center;
      background-color: rgba(248, 246, 246, 0.219); }
  .fadeIn .sidebar-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 571px; }
    .fadeIn .sidebar-content .task:hover {
      background-color: rgba(8, 8, 8, 0.418); }
  .fadeIn .delete {
    float: right;
    height: 52px;
    font-size: 20px;
    padding: 8px;
    color: red; }
    .fadeIn .delete:hover {
      background-color: rgba(8, 8, 8, 0.418); }

.main {
  float: right;
  width: calc(100% - 300px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 623px; }
  .main .add-note {
    margin-top: 20px;
    margin-left: 125px;
    height: 60px;
    background-color: white;
    width: 700px; }
    .main .add-note .addNote-input {
      width: 700px;
      outline: none;
      border: none;
      height: 50px;
      font-size: 20px;
      line-height: 15px;
      padding-inline-start: 15px; }
  .main .todo-main {
    background-color: white;
    width: 700px;
    margin-top: 20px;
    margin-left: 125px;
    height: 60px; }
    .main .todo-main .note {
      display: inline-block; }
      .main .todo-main .note .note-content {
        font-size: 24px;
        width: 650px;
        font-weight: 100;
        line-height: 60px;
        padding-left: 15px; }
        .main .todo-main .note .note-content .note-name {
          outline: none;
          border: none;
          padding: 0; }
    .main .todo-main .note-icons {
      float: right;
      padding-right: 15px;
      padding-top: 5px;
      font-size: 24px;
      color: red; }

.comment {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px; }

.add-comment .add-comment-input {
  background-color: rgba(12, 12, 12, 0.041);
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 20px;
  padding-inline-start: 10px;
  width: 450px; }

.comment-content .comment-name {
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 20px;
  width: 390px;
  padding-inline-start: 10px; }

.comment-content span {
  float: right;
  padding-top: 15px;
  padding-right: 15px;
  color: red; }

.modal-content {
  height: 600px; }
