body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(189, 187, 151, 0.486);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

@import "./TodoApp/_TodoApp.scss";